.abc
{
    height: 800px;
    width: 300px;
    background-color: rgb(48, 72, 156);
    /* color:white; */
    /* text-align:center; */
    /* border-radius:15px; */
    /* border:3px solid black; */
}